<ion-view view-title="Social Analistic">
    <ion-content class=padding>
        <!--div class=padding ng-controller="MyCtrl">
            <div class=list>
            <input type="text" ng-model="foo" placeholder="Enter something" />
            <button class="button button-block button-positive icon icon-right ion-chevron-right"
                on-tap="checkFunction()"  ng-model="foo" ng-click="doSomething()" >Check</button>
            <!--ui-sref=tabs.scroll-->
            <!--/div>
        </div-->
        <div class=padding ng-controller="MyCtrl">
            <div class=list>
                <input type="text" ng-model="foo" placeholder="Enter something" />
                <button class="button button-block button-positive icon icon-right ion-chevron-right"
                        on-tap="checkFunction()"  ng-model="foo" ng-click="doSomething()" >Check</button>
                <!--ui-sref=tabs.scroll-->
            </div>


                <ion-list>
                    <ion-item class="item-icon-right" ng-repeat="data in tweets">
                        <h1>{{ data.waga }}</h1>
                        <p style="color: {{data.color}}">{{ data.tweet}}</p>
                        <p>{{ data.cos}} </p>
                        <i class="icon ion-chevron-left icon-accessory"></i>
                        <ion-option-button class="button-positive" ng-click="viewFriend(viewFriend(data.idfriends))">View Friend</ion-option-button>
                        <ion-option-button class="button-assertive" ng-click="deleteFriend(remove(data.idfriends))">Delete</ion-option-button>
                    </ion-item>
                </ion-list>

        </div>
    </ion-content>
</ion-view>